<br>
<div class="">
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;Marketing</h5>
    <br>
    <!-- <span>Fundamentally, each button is described by an object - this object is read by Buttons and displayed as appropriate. There are a number of parameters that Buttons will automatically look for in the button description object such as buttons.buttons.text and buttons.buttons.action which are the two fundamental parameters (button text and the action to take when activated).</span> -->
  </div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card o-hidden">
          <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center"><i data-feather="database"></i></div>
              <div class="media-body"><span class="m-0">Earnings</span>
                <h4 class="mb-0 counter">6659</h4><i class="icon-bg" data-feather="database"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card o-hidden">
          <div class="bg-secondary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
              <div class="media-body"><span class="m-0">Products</span>
                <h4 class="mb-0 counter">9856</h4><i class="icon-bg" data-feather="shopping-bag"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card o-hidden">
          <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
              <div class="media-body"><span class="m-0">Messages</span>
                <h4 class="mb-0 counter">893</h4><i class="icon-bg" data-feather="message-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-lg-6">
        <div class="card o-hidden">
          <div class="bg-primary b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
              <div class="media-body"><span class="m-0">New User</span>
                <h4 class="mb-0 counter">45631</h4><i class="icon-bg" data-feather="user-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 xl-100 box-col-12">
        <div class="widget-joins card widget-arrow">
          <div class="row">
            <div class="col-sm-6 pr-0">
              <div class="media border-after-xs">
                <div class="align-self-center mr-3 text-left">
                  <h6 class="mb-1">Sale</h6>
                  <h4 class="mb-0">Today</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary" data-feather="arrow-down"></i></div>
                <div class="media-body">
                  <h5 class="mb-0">$<span class="counter">25698</span></h5><span class="mb-1">-$2658(36%)</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pl-0">
              <div class="media">
                <div class="align-self-center mr-3 text-left">
                  <h6 class="mb-1">Sale</h6>
                  <h4 class="mb-0">Month</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary" data-feather="arrow-up"></i></div>
                <div class="media-body pl-2">
                  <h5 class="mb-0">$<span class="counter">6954</span></h5><span class="mb-1">+$369(15%)</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pr-0">
              <div class="media border-after-xs">
                <div class="align-self-center mr-3 text-left">
                  <h6 class="mb-1">Sale</h6>
                  <h4 class="mb-0">Week</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary" data-feather="arrow-up"></i></div>
                <div class="media-body">
                  <h5 class="mb-0">$<span class="counter">63147</span></h5><span class="mb-1">+$69(65%)</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pl-0">
              <div class="media">
                <div class="align-self-center mr-3 text-left">
                  <h6 class="mb-1">Sale</h6>
                  <h4 class="mb-0">Year</h4>
                </div>
                <div class="media-body align-self-center pl-3"><i class="font-primary" data-feather="arrow-up"></i></div>
                <div class="media-body pl-2">
                  <h5 class="mb-0">$<span class="counter">963198</span></h5><span class="mb-1">+$3654(90%)          </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 xl-100 box-col-12">
        <div class="widget-joins card">
          <div class="row">
            <div class="col-sm-6 pr-0">
              <div class="media border-after-xs">
                <div class="align-self-center mr-3">68%<i class="fa fa-angle-up ml-2"></i></div>
                <div class="media-body details pl-3"><span class="mb-1">New</span>
                  <h4 class="mb-0 counter digits">6982</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary float-left ml-2" data-feather="shopping-bag"></i></div>
              </div>
            </div>
            <div class="col-sm-6 pl-0">
              <div class="media">
                <div class="align-self-center mr-3 digits">12%<i class="fa fa-angle-down ml-2"></i></div>
                <div class="media-body details pl-3"><span class="mb-1">Pending</span>
                  <h4 class="mb-0 counter digits">783</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary float-left ml-3" data-feather="layers"></i></div>
              </div>
            </div>
            <div class="col-sm-6 pr-0">
              <div class="media border-after-xs">
                <div class="align-self-center mr-3">68%<i class="fa fa-angle-up ml-2"></i></div>
                <div class="media-body details pl-3 pt-0"><span class="mb-1">Done</span>
                  <h4 class="mb-0 counter digits">3674</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary float-left ml-2" data-feather="shopping-cart"></i></div>
              </div>
            </div>
            <div class="col-sm-6 pl-0">
              <div class="media">
                <div class="align-self-center mr-3">68%<i class="fa fa-angle-up ml-2"></i></div>
                <div class="media-body details pl-3 pt-0"><span class="mb-1">Cancel</span>
                  <h4 class="mb-0 counter digits">069</h4>
                </div>
                <div class="media-body align-self-center"><i class="font-primary float-left ml-2" data-feather="dollar-sign"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 xl-100 box-col-12">
        <div class="card">
          <div class="cal-date-widget card-body">
            <div class="row">
              <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                <div class="cal-info text-center">
                  <h2>24</h2>
                  <div class="d-inline-block mt-2"><span class="b-r-dark pr-3">March</span><span class="pl-3">2018</span></div>
                  <p class="mt-4 f-16 text-muted">There is no minimum donation, any sum is appreciated</p>
                </div>
              </div>
              <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                <div class="cal-datepicker">
                  <div class="datepicker-here float-sm-right" data-language="en">           </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
        <div class="card social-widget-card">
          <div class="card-body">
            <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-facebook font-primary"></i></div>
            <h5 class="b-b-light">Facebook</h5>
            <div class="row">
              <div class="col text-center b-r-light"><span>Post</span>
                <h4 class="counter mb-0">6589</h4>
              </div>
              <div class="col text-center"><span>Like</span>
                <h4 class="counter mb-0">75269</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
        <div class="card social-widget-card">
          <div class="card-body">
            <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-twitter font-primary"></i></div>
            <h5 class="b-b-light">Twitter</h5>
            <div class="row">
              <div class="col text-center b-r-light"><span>Post</span>
                <h4 class="counter mb-0">6589</h4>
              </div>
              <div class="col text-center"><span>Follower</span>
                <h4 class="counter mb-0">75269</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
        <div class="card social-widget-card">
          <div class="card-body">
            <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-linkedin font-primary"></i></div>
            <h5 class="b-b-light">linkedin</h5>
            <div class="row">
              <div class="col text-center b-r-light"><span>Post</span>
                <h4 class="counter mb-0">1234</h4>
              </div>
              <div class="col text-center"><span>linkedin</span>
                <h4 class="counter mb-0">4369</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
        <div class="card social-widget-card">
          <div class="card-body">
            <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-google-plus font-primary"></i></div>
            <h5 class="b-b-light">Google +</h5>
            <div class="row">
              <div class="col text-center b-r-light"><span>Post</span>
                <h4 class="counter mb-0">369</h4>
              </div>
              <div class="col text-center"><span>Follower</span>
                <h4 class="counter mb-0">3458</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card browser-widget">
          <div class="media card-body">
            <div class="media-img"><img src="assets/images/dashboard/chrome.png" alt=""></div>
            <div class="media-body align-self-center">
              <div>
                <p>Daily </p>
                <h4><span class="counter">36</span>%</h4>
              </div>
              <div>
                <p>Month </p>
                <h4><span class="counter">96</span>%</h4>
              </div>
              <div>
                <p>Week </p>
                <h4><span class="counter">46</span>%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card browser-widget">
          <div class="media card-body">
            <div class="media-img"><img src="assets/images/dashboard/firefox.png" alt=""></div>
            <div class="media-body align-self-center">
              <div>
                <p>Daily </p>
                <h4><span class="counter">36</span>%</h4>
              </div>
              <div>
                <p>Month </p>
                <h4><span class="counter">96</span>%</h4>
              </div>
              <div>
                <p>Week </p>
                <h4><span class="counter">46</span>%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card browser-widget">
          <div class="media card-body">
            <div class="media-img"><img src="assets/images/dashboard/safari.png" alt=""></div>
            <div class="media-body align-self-center">
              <div>
                <p>Daily </p>
                <h4><span class="counter">36</span>%</h4>
              </div>
              <div>
                <p>Month </p>
                <h4><span class="counter">96</span>%</h4>
              </div>
              <div>
                <p>Week </p>
                <h4><span class="counter">46</span>%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- latest jquery-->
  <script src="assets/js/jquery-3.5.1.min.js"></script>
  <!-- Bootstrap js-->
  <script src="assets/js/bootstrap/popper.min.js"></script>
  <script src="assets/js/bootstrap/bootstrap.js"></script>
  <!-- feather icon js-->
  <script src="assets/js/icons/feather-icon/feather.min.js"></script>
  <script src="assets/js/icons/feather-icon/feather-icon.js"></script>
  <!-- Sidebar jquery-->
  <!-- <script src="assets/js/sidebar-menu.js"></script> -->
  <script src="assets/js/config.js"></script>
  <!-- Plugins JS start-->
  <script src="assets/js/prism/prism.min.js"></script>
  <script src="assets/js/clipboard/clipboard.min.js"></script>
  <script src="assets/js/counter/jquery.waypoints.min.js"></script>
  <script src="assets/js/counter/jquery.counterup.min.js"></script>
  <script src="assets/js/counter/counter-custom.js"></script>
  <script src="assets/js/custom-card/custom-card.js"></script>
  <script src="assets/js/datepicker/date-picker/datepicker.js"></script>
  <script src="assets/js/datepicker/date-picker/datepicker.en.js"></script>
  <script src="assets/js/datepicker/date-picker/datepicker.custom.js"></script>
  <script src="assets/js/owlcarousel/owl.carousel.js"></script>
  <script src="assets/js/general-widget.js"></script>
  <script src="assets/js/height-equal.js"></script>
  <script src="assets/js/tooltip-init.js"></script>
  <!-- Plugins JS Ends-->
  <!-- Theme js-->
  <script src="assets/js/script.js"></script>
  <script src="assets/js/theme-customizer/customizer.js"></script>