<style>
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content/Box */
    
    .modal-content {
        color: #414242;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 30px 60px;
        width: 500px;
        /* Could be more or less, depending on screen size */
        font-family: Lato;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
        -webkit-font-smoothing: antialiased;
        /* Rectangle 2 Copy 3: */
        background: #FFFFFF;
        border: 1px solid #9B9C9D;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
        border-radius: 6px;
    }
    
    .modal-content a {
        color: #636464;
    }
    
    .modal-content>h1 {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    button#accept {
        margin: 30px auto;
        display: block;
        border: 1px solid #fc4c02;
        border-radius: 3px;
        background: #fff;
        color: #fc4c02;
        font-size: 16px;
        height: 48px;
        padding: 0 20px;
        cursor: pointer;
    }
    
    .safety {
        color: #9B9C9D;
        font-size: 12px;
        text-align: center;
        display: block;
        text-decoration: none;
    }
    
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    
    .close:hover {
        background: #00d9ff;
    }
</style>

<div >
    <h2>&nbsp;&nbsp;Users</h2>

    <div id="myContacts">
        <p>&nbsp;&nbsp;You have zero Users</p>
    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
                <button type="button" ng-click="close()">&times;</button>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="">Email</label>
                    <div class="">
                        <input type="text" class="form-control" id="editEmail" ng-value="newEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label class="">Fullname</label>
                    <div class="0">
                        <input type="text" class="form-control" id="editFullname" ng-value="newFullname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="">Designation</label>
                    <div class="">
                        <input type="text" class="form-control" id="editDesignation" ng-value="newDesignation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="">Contact</label>
                    <div class="">
                        <input type="text" class="form-control" id="editContact" ng-value="newContact">
                    </div>
                </div>
                

                <div class="form-group">
                    <label class="">Role</label>
                    <div class="">
                        <select id="editRole">
                            <option value="ordinary">Ordinary</option>
                            <option value="super">Super User</option>
                            <option value="admin">Admin</option>
                        </select>


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-info" data-dismiss="modal" ng-click="updateUser()">Save</button>
                <button type="button" class="btn btn btn-danger" ng-click="close()">Cancel</button>
            </div>
        </div>


    </div>


    <!-- The Modal -->
    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" ng-click="close2()">&times;</button>

            </div>
            <div class="modal-body">

                <p>You want to delete <strong id="deleteUser" style="color: red;"></strong> information...</p>
                <!-- <p id="deleteUser" ></p> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Yes</button>
                <button type="button" class="btn btn-info" ng-click="close2()">No</button>
            </div>
        </div>


    </div>

</div>