<br>
<div class="">
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;Add Leads</h5>
    <br>
    <!-- <span>Fundamentally, each button is described by an object - this object is read by Buttons and displayed as appropriate. There are a number of parameters that Buttons will automatically look for in the button description object such as buttons.buttons.text and buttons.buttons.action which are the two fundamental parameters (button text and the action to take when activated).</span> -->
  </div>
  <!-- Container-fluid starts-->
    <div class="container-fluid" style="display: none;">
      <div class="page-header">
        <div class="row">
          <div class="col-6">
            <h3>
               Project Create</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
              <li class="breadcrumb-item">Apps</li>
            </ol>
          </div>
          <div class="col-6">
            <!-- Bookmark Start-->
            <div class="bookmark pull-right">
              <ul>
                <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                <li><a href="#"><i class="bookmark-search" data-feather="star"></i></a>
                  <form class="form-inline search-form" action="#" method="get">
                    <div class="form-group form-control-search">
                      <div class="Typeahead Typeahead--twitterUsers">
                        <div class="u-posRelative">
                          <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search.." name="q" title="" autofocus>
                          <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div>
                        </div>
                        <div class="Typeahead-menu"></div>
                        <script id="result-template" type="text/x-handlebars-template">
                          <div class="ProfileCard u-cf">                        
                          <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                          <div class="ProfileCard-details">
                          <div class="ProfileCard-realName">{{name}}</div>
                          </div>
                          </div>
                        </script>
                        <script id="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
            <!-- Bookmark Ends-->
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="text-danger wrapper text-center" id="messages"></div>
              <div class="text-success wrapper text-center" id="success"></div>
              <br>
              <div class="form theme-form">
                <div class="row">
                  <div class="col">
                      <div class="form-group">
                          <label for="newUserFullname">Company Name</label>
                          <input class="form-control" id="leadsComName" type="text" placeholder=""
                              required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="form-group">
                          <label for="newUserEmail">Website</label>
                          <input class="form-control" id="leadsWebsite" type="email" placeholder=""
                              required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="form-group">
                          <label for="newUserPassword">Mailing Address</label>
                          <input class="form-control" id="leadsMailingAdd" type="text" placeholder="">
                      </div>
                  </div>
              </div>
              <!-- <div class="custom-file">
                  <input type="file" class="custom-file-input" id="newUserPicture" name="newUserPicture">
                  <label id="pictureLabel" class="custom-file-label" for="exampleInputFile">User's
                      Picture</label> <br><br>
              </div> -->
              <div class="row">
                  <div class="col">
                      <div class="form-group">
                          <label for="newUserDesignation">Phone Number</label>
                          <input class="form-control" id="leadsPhoneNo" type="text" placeholder="">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="form-group">
                          <label for="newUserContact">Contact Person First Name</label>
                          <input class="form-control" id="leadsFirstName" type="text" placeholder="">
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="newUserContact">Contact Person Last Name</label>
                        <input class="form-control" id="leadsLastName" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="newUserContact">Title</label>
                      <input class="form-control" id="leadsTitle" type="text" placeholder="">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="newUserContact">Email Address</label>
                    <input class="form-control" id="leadsEmailAdd" type="email" placeholder="">
                </div>
            </div>
        </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-success" type="button" id="addNewLeads">Submit</button>
                <input class="btn btn-light" type="reset" value="Cancel">
                    <!-- <div class="form-group mb-0"><a class="btn btn-success mr-3" href="#">Add</a><a class="btn btn-danger" href="#">Cancel</a></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->




    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="assets/js/bootstrap/popper.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.js"></script>
    <!-- feather icon js-->
    <script src="assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- Sidebar jquery-->
    <!-- <script src="assets/js/sidebar-menu.js"></script> -->
    <script src="assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="assets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script src="assets/js/dropzone/dropzone.js"></script>
    <script src="assets/js/dropzone/dropzone-script.js"></script>
    <script src="assets/js/typeahead/handlebars.js"></script>
    <script src="assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="assets/js/typeahead/typeahead.custom.js"></script>
    <script src="assets/js/typeahead-search/handlebars.js"></script>
    <script src="assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="assets/js/script.js"></script>
    <script src="assets/js/theme-customizer/customizer.js"></script>